<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="trym.">
    <meta name="keywords" content="hair,cut,style,salon,booking">
    <meta name="author" content="Edmond Ó Floinn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>trym.</title>

    <link href="../static/logo.png" rel="icon"/>
    <link href="../static/style.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body class="purple">

<div>
    <h1 class="white text-centre">trym.</h1>
    <h1 class="white text-centre">coming soon</h1>
    <img src="../static/logo.png"/>
</div>

</body>

</html>